@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
--red: hsl(0, 100%, 74%);
--green: hsl(154, 59%, 51%);
--blue: hsl(248, 32%, 49%);
--dark-blue: hsl(249, 10%, 26%);
--grayish-blue: hsl(246, 25%, 77%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-image: url('./images/bg-intro-desktop.png');
    background-color: var(--red);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 110px auto;
    font-size: 16px;
}

.left_side {
    
    width: 540px;
    margin-top: 175px;
    height: fit-content;
    color: white;
}

.left_side h1 { 
    font-weight: 700;
    font-size: 45px;
}

.left_side p {
    line-height: 1.7;
   
}

.right_side {
    background-color: greenyellow;
    width: 540px;
}

.white_block {
    background-color: white;
    height: 470px;
}


ul {
    list-style: none;
}




/* FOOTER */

.attribution {
    font-size: 11px;
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 25px;
  }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}