@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
--red: hsl(0, 100%, 74%);
--green: hsl(154, 59%, 51%);
--blue: hsl(248, 32%, 49%);
--dark-blue: hsl(249, 10%, 26%);
--grayish-blue: hsl(246, 25%, 77%);
--main-font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--main-font);
    background-image: url('./images/bg-intro-desktop.png');
    background-color: var(--red);
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 110px auto;
}

.left_side {
    max-width: 540px;
    margin-top: 175px;
    height: fit-content;
    color: white;
}

.left_side h1 { 
    font-weight: 700;
    font-size: 45px;
}

.left_side p {
    line-height: 1.7;
}

.right_side {
    max-width: 540px;
}

.try_button {
    background-color: var(--blue);
    color: white;
    padding: 17px 0;
    border: none;
    width: 100%;
    border-radius: 8px;
    font-family: var(--main-font);
    margin-bottom: 25px;
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.17);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.try_button_bold {
    font-weight: 600;
}

.try_button_thin {
    color: var(--grayish-blue);
}

.try_button:hover {
    background-color: hsl(248, 32%, 49%, 0.9);
}

.form_block {
    background-color: white;
    height: 500px;
    padding: 40px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.17);
}

ul {
    list-style: none;
}

label {
    display: none;
}

.input {
    padding: 15px 0px 15px 25px;
    width: 100%;
    border-radius: 6px;
    border: 1px solid var(--grayish-blue);
    font-family: var(--main-font);
    font-weight: 600;
    color: var(--dark-blue);
    /* margin-bottom: 20px; */
    /* background-image: url('images/icon-error.svg');
    background-repeat: no-repeat; */
}

#first_name,
#last_name {
    text-transform: capitalize;
}

.input:focus {
	border: 1.5px solid var(--dark-blue);
    outline: none; 
}
                        
.form_item {
    margin-bottom: 30px;
    position: relative;
} 

.error_text {
    /* display: none; */
    position: absolute;
    opacity: 0;
    bottom: -20px;
    right: 0;
	text-align: right;
	font-size: 10px;
	font-style: italic;
	color: var(--red);
	font-weight: 600;
    margin-top: 5px;
}




.submit_button {
    background-color: var(--green);
    color: white;
    font-weight: 500;
    padding: 17px 0;
    border: 1px solid hsl(154, 59%, 45%);;
    width: 100%;
    border-radius: 6px;
    font-family: var(--main-font);
    margin-bottom: 20px;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 0 2px hsl(154, 59%, 45%);
    letter-spacing: 1px;
}

.submit_button:focus {
    outline: none;
}

.submit_button:active {
    box-shadow: 0 0 var(--green);
    transform: translateY(3px);
}

.agreement {
    font-size: 10px;
    color: var(--grayish-blue);
    text-align: center;
    font-weight: 600;
}

.terms_services {
    color: var(--red);
    font-weight: 700;
    text-decoration: none;
}

/* FOOTER */

.attribution {
    font-size: 11px;
    text-align: center; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 25px;
  }

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 630px) {
    .container {
        flex-direction: column;
        margin: 0 auto;
        padding: 0 25px;
    }

    .left_side {
        margin: 50px auto;
        height: fit-content;
        text-align: center;
    }

    .try_button {
        font-size: 17px;
        padding: 17px 10px;
    }

    .attribution { 
        font-size: 11px; 
        text-align: center; 
        margin: 25px auto;
        position: relative;
    }
  }